:root {
    --colort: #FFFF;
    --color0: #788BFF;
    --color1: #9BB1FF;
    --color2: #BFD7FF;
    --color3: #E2FDFF;
    --colorB: black;
}

@font-face {
    font-family: 'Blacksword';
    src: url('../MP08UF2003_perezM_responsive/fonts/Blacksword/Blacksword.eot');
    src: url('../MP08UF2003_perezM_responsive/fonts/Blacksword/Blacksword.eot?#iefix') format('embedded-opentype'),
        url('../MP08UF2003_perezM_responsive/fonts/Blacksword/Blacksword.woff2') format('woff2'),
        url('../MP08UF2003_perezM_responsive/fonts/Blacksword/Blacksword.woff') format('woff'),
        url('../MP08UF2003_perezM_responsive/fonts/Blacksword/Blacksword.ttf') format('truetype'),
        url('../MP08UF2003_perezM_responsive/fonts/Blacksword/Blacksword.svg#Blacksword') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Blacksword';
    font-weight: normal;
    font-style: normal;
}

p {
    padding: 1rem;
    background: var(--color0);
    cursor: wait;
    color: var(--colort);
    overflow: hidden;
    width: 50vw;
    height: 50vw;
}

.progres{
    height: 10px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--colorB);
    scale: 0 1;
    animation: analitzador linear;
         -o-animation-timeline: scroll();
       -moz-animation-timeline: scroll();
    -webkit-animation-timeline: scroll();
    animation-timeline: scroll(); 
    transform-origin: left;
}

@keyframes analitzador {
    to {
        scale: 1 1;
    }
}

@media screen and (max-width:480px) {

    /* smartphone */
    body {
        background: var(--color1);
    }

    h1 {
        font-size: 1rem;
    }
}


@media screen and (min-width:481px) and (max-width:1279px) {
    
    /* tablet */
    body {
        background: var(--color2);
    }

    h1 {
        font-size: 3rem;
    }
}



@media screen and (min-width:1280px) {
    /* ordinador */
    body {
        background: var(--color3);
    }

    h1 {
        font-size: 4rem;
    }

    p {
        columns: 2;
    }
    
}

